<!DOCTYPE html>
<html>
  <head>
    <title>UserApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
<div style="
    padding-top: 20%;
">
    <% if current_user%>
        <%=link_to "logout", sessions_path("current"), method: :delete %>
    <%else%>
        <%= link_to "Sign up", new_users_path%>
        <%= link_to "Log in" , new_sessions_path%>
    <%end%>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
