<section class="show-photo">
  <p> <%= link_to 'Edit', edit_photo_path(@photo) %> <%= link_to 'Delete', photo_path(@photo), method: :delete, data: {confirm: "Are you sure?" } %> </p>
  <p> <%= @photo.title %> </p>
  <p> <%= @photo.desc %> </p>
  <%= image_tag @photo.url %>
</section>


<h2>Tags </h2>

<ul>
 <% @tags.each do |tag|%>
  <li>
    <p><%=tag.name %> </p>

  </li>
 <% end %>
</ul>

<h2>Comments </h2>
<p><%=link_to 'Add  Comments' ,new_photo_comment_path(@photo) %></p>
<ul>
 <% @comments.each do |comment|%>
  <li>
    <p>On <%= comment.created_at%> <%=comment.name %> </p>
    <p> <%=comment.message%> </p>
  </li>
 <% end %>
</ul>